[tool.poetry]
name = "ransomlook"
version = "1.4.0"
description = "Yet An Other Ransom Looker"
authors = ["Fafner KeyZee <fkz@p4nd4.land>"]

[tool.poetry.scripts]
scrape = "bin.scrape:main"
parse = "bin.parse:main"
screen = "bin.screen:main"
torrent = "bin.torrent:main"
markdown = "bin.markdown:main"
notify = "bin.notify:main"
notifyleak = "bin.notifyleak:main"
add = "bin.add:main"
start = "bin.start:main"
start_website = "bin.start_website:main"
stop = "bin.stop:main"
run_backend = "bin.run_backend:main"
shutdown = "bin.shutdown:main"
update = "bin.update:main"
telegram = "bin.telegram:main"
twitter = "bin.twitter:main"
cryptocur = "bin.cryptocur:main"
rf = "bin.rf:main"
notes = "bin.notes:main"

[tool.poetry.dependencies]
python = "^3.10,<3.11"
tldextract = "^3.6.0"
lxml = "^4.9.3"
matplotlib = "^3.8.0"
playwright = "^1.38.0"
bs4 = "^0.0.1"
rocketchat-API = "^1.30.0"
Flask-Moment = "^1.0.5"
Bootstrap-Flask = "^2.3.0"
redis = "^4.6.0"
Flask = "^2.3.3"
gunicorn = "^21.2.0"
Flask-Login = "^0.6.2"
Werkzeug = "^2.3.7"
Flask-WTF = "^1.1.1"
tweepy = "^4.14.0"
Flask-Cors = "^4.0.0"
flask-restx = "^1.1.0"
googletrans-py = "^4.0.0"
types-requests = "^2.31.0.6"
types-beautifulsoup4 = "^4.12.0.6"
types-flask = "^1.1.6"
types-redis = "^4.6.0.7"
pymisp = "^2.4.176"
gitpython = "^3.1.37"
ldap3 = "^2.9.1"
types-ldap3 = "^2.9.13.14"
pandas = "^2.1.1"
plotly = "^5.17.0"
orca = "^1.8"
psutil = "^5.9.5"
kaleido = "0.2.1"
types-pytz = "^2023.3.1.1"
pandas-stubs = "^2.0.3.230814"
types-flask-cors = "^4.0.0.1"
mastodon-py = "^1.8.1"
types-pillow = "^10.0.0.3"
libtorrent = "^2.0.9"

[tool.poetry.dev-dependencies]
mypy = "^1.5.1"
types-setuptools = "^67.8.0.0"
types-redis = "^4.6.0.7"
pylint = "^2.17.6"


[tool.poetry.group.dev.dependencies]
types-setuptools = "^67.2.0.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
python_version = 3.8
check_untyped_defs = true
ignore_errors = false
ignore_missing_imports = false
strict_optional = true
no_implicit_optional = true
warn_unused_ignores = true
warn_redundant_casts = true
warn_unused_configs = true
warn_unreachable = true

show_error_context = true
pretty = true
