[tool.poetry]
name = "ransomlook"
version = "0.1.0"
description = "Yet An Other Ransom Looker"
authors = ["Fafner KeyZee <fkz@p4nd4.land>"]

[tool.poetry.scripts]
scrape = "bin.scrape:main"
parse = "bin.parse:main"
markdown = "bin.markdown:main"
notify = "bin.notify:main"
add = "bin.add:main"
start = "bin.start:main"
stop = "bin.stop:main"

[tool.poetry.dependencies]
python = "^3.8,<3.11"
tldextract = "^3.3.0"
lxml = "^4.8.0"
matplotlib = "^3.5.2"
playwright = "^1.25.2"
bs4 = "^0.0.1"
mypy = "^0.971"
rocketchat-API = "^1.26.0"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
python_version = 3.8
check_untyped_defs = true
ignore_errors = false
ignore_missing_imports = false
strict_optional = true
no_implicit_optional = true
warn_unused_ignores = true
warn_redundant_casts = true
warn_unused_configs = true
warn_unreachable = true

show_error_context = true
pretty = true
