[tool.poetry]
name = "ransomlook"
version = "1.2.2"
description = "Yet An Other Ransom Looker"
authors = ["Fafner KeyZee <fkz@p4nd4.land>"]

[tool.poetry.scripts]
scrape = "bin.scrape:main"
parse = "bin.parse:main"
markdown = "bin.markdown:main"
notify = "bin.notify:main"
notifyleak = "bin.notifyleak:main"
add = "bin.add:main"
start = "bin.start:main"
start_website = "bin.start_website:main"
stop = "bin.stop:main"
run_backend = "bin.run_backend:main"
shutdown = "bin.shutdown:main"
update = "bin.update:main"
telegram = "bin.telegram:main"
twitter = "bin.twitter:main"
cryptocur = "bin.cryptocur:main"

[tool.poetry.dependencies]
python = "^3.8,<3.11"
tldextract = "^3.4.0"
lxml = "^4.9.2"
matplotlib = "^3.7.0"
playwright = "^1.31.1"
bs4 = "^0.0.1"
rocketchat-API = "^1.28.1"
Flask-Moment = "^1.0.5"
Bootstrap-Flask = "^2.2.0"
redis = "^4.5.1"
Flask = "^2.2.3"
gunicorn = "^20.1.0"
Flask-Login = "^0.6.2"
Werkzeug = "^2.2.3"
Flask-WTF = "^1.1.1"
tweepy = "^4.12.1"
Flask-Cors = "^3.0.10"
flask-restx = "^1.0.6"
googletrans-py = "^4.0.0"
types-requests = "^2.28.11.15"
types-beautifulsoup4 = "^4.11.6.7"
types-flask = "^1.1.6"
types-redis = "^4.5.1.4"
pymisp = "^2.4.168.1"

[tool.poetry.dev-dependencies]
mypy = "^1.0.1"
types-setuptools = "^67.4.0.3"
types-redis = "^4.5.1.4"
pylint = "^2.16.2"


[tool.poetry.group.dev.dependencies]
types-setuptools = "^67.2.0.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
python_version = 3.8
check_untyped_defs = true
ignore_errors = false
ignore_missing_imports = false
strict_optional = true
no_implicit_optional = true
warn_unused_ignores = true
warn_redundant_casts = true
warn_unused_configs = true
warn_unreachable = true

show_error_context = true
pretty = true
