[tool.poetry]
name = "ransomlook"
version = "1.0.0"
description = "Yet An Other Ransom Looker"
authors = ["Fafner KeyZee <fkz@p4nd4.land>"]

[tool.poetry.scripts]
scrape = "bin.scrape:main"
parse = "bin.parse:main"
markdown = "bin.markdown:main"
notify = "bin.notify:main"
add = "bin.add:main"
start = "bin.start:main"
start_website = "bin.start_website:main"
stop = "bin.stop:main"
run_backend = "bin.run_backend:main"
shutdown = "bin.shutdown:main"
update = "bin.update:main"

[tool.poetry.dependencies]
python = "^3.8,<3.11"
tldextract = "^3.4.0"
lxml = "^4.8.0"
matplotlib = "^3.6.1"
playwright = "^1.27.1"
bs4 = "^0.0.1"
rocketchat-API = "^1.27.0"
Flask-Moment = "^1.0.5"
Bootstrap-Flask = "^2.1.0"
redis = "^4.3.4"
Flask = "^2.2.2"
gunicorn = "^20.1.0"
Flask-Login = "^0.6.2"
Werkzeug = "^2.2.2"
Flask-WTF = "^1.0.1"
tweepy = "^4.10.1"

[tool.poetry.dev-dependencies]
mypy = "^0.982"
types-setuptools = "^65.4.0"
types-redis = "^4.3.21"
pylint = "^2.15.4"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
python_version = 3.8
check_untyped_defs = true
ignore_errors = false
ignore_missing_imports = false
strict_optional = true
no_implicit_optional = true
warn_unused_ignores = true
warn_redundant_casts = true
warn_unused_configs = true
warn_unreachable = true

show_error_context = true
pretty = true
