{% extends "base.html" %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% block title %}About...{% endblock %}
{% block content %}
{{ render_messages(container=True, dismissible=True) }}

    <article id="main" class="markdown-section">
        <center>
                <h1>About 🦕 RansomLook 🦖 !</h1><br/>
                <img src="/static/ransomlook.svg" width="400">
        </center>
        <h3>What is RansomLook ?</h3>
        <p>RansomLook is an open source project aimed at helping users track ransomware-related posts and activities across different sites, forums, and Telegram channels. <br/>The main elements are:</p>
        <ul>
        <li> Blog monitoring and victim extraction</li>
        <li> Forum monitoring (parsing is not available)</li>
        <li> Overview of Ransomware Notes</li>
        <li> Tracking Leaks from public sources</li>
        <li> Leak tracking from RecordedFuture provider (private API required)</li>
        <li> Monitoring of public Telegram channels</li>
        <li> Twitter account monitoring</li>
        <li> Monitoring of different known BitCoin wallets</li>
        </ul>
        
        <h3>Is it free ?</h3>
        <p>Yes it is free, but more important it is <b>OpenSource</b></p>
        <p>RansomLook  is licensed under the GNU General Public License v3.0</p>

        <h3>How can I follow new posts ?</h3>
        <p>There are differents ways to follow the new posts:</p>
        <ul>
        <li>By running your own instance and activating RocketChat and/or mail notificaitons</li>
        <li>By cheching on the public instance: <a href='https://www.ransomlook.io'>https://www.ransomlook.io</a></li>
        <li>By requesting the <a href='https://www.ransomlook.io/doc'>API</a></li>
        <li>By following us on Mastodon: <a href='https://social.circl.lu/@Ransomlook'>@Ransomlook@social.circl.lu</a></li>
        </ul>
        <p>There is NO official Telegram Channel !</p>

        <h3>How can I contribute ?</h3>
        <p>You can contribute by posting issue on the <a href='https://github.com/RansomLook/RansomLook'>github repository</a>. You can purpose PR, give us the link to a new DLS, submit any bug you foud or purpose to us new functionnality.</p>

        <h3>Credits & Thanks</h3>
        <p>RansomLook is maintened by Alexande Dulaunoy (https://github.com/adulau/) and Fafner [_KeyZee_] (https://github.com/fafnerkeyzee).</p>
        <p>The code is based on <a href='https://github.com/joshhighet/ransomwatch'>RansomWatch</a>.
        <p>External data are from:
        <ul>
        <li>Malpedia for description</li>
        <li>Ransomwhe.re for cryptoCurrency</li>
        <li>threatlabz for the RansomNotes</li>
        <li>leak-lookup for the public leaks</li>
        </ul>
        </p>
    </article>
{% endblock %}
