{% extends "base.html" %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% block title %}🦕 RansomLook 🦖{% endblock %}
{% block content %}
{{ render_messages(container=True, dismissible=True) }}

    <article id="main" class="markdown-section">
        <h1>Add a post to a Group or a Market</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p> {{ form.group.label }}<br>
            {{ form.group(style="width:30%;") }} {{ form.submit }}<br>
            {% for error in form.group.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </form>
    <form action="" method="post" novalidate>
        {{ formMarkets.hidden_tag() }}
        <p> {{ formMarkets.group.label }}<br>
            {{ formMarkets.group(style="width:30%;") }} {{ formMarkets.submit }}<br>
            {% for error in formMarkets.group.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </form>
    </article>
{% endblock %}
