{% extends "base.html" %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% block title %}🦕 RansomLook 🦖{% endblock %}
{% block content %}
{{ render_messages(container=True, dismissible=True) }}

    <article id="main" class="markdown-section">
        <h1>Add post to {{ form.groupname.label }}</h1>
    <form action="" method="post" novalidate enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>Post title</p>
        <p> {{ form.title(size=64) }}</p>
        </p>Description</p>
        <p>{{ form.description(style="width:100%; height: 150px;") }}</p>
        </p>Date (optionnal, format: YYYY-MM-JJ HH:MM:SS)</p>
        <p>{{ form.date(size=64) }}</p>
        </p>Link (Relative of full link of the post)</p>
        <p>{{ form.link(size=64) }}</p>
        </p>Magnet</p>
        <p>{{ form.magnet(size=64) }}</p>
        </p>Upload screenshot (Optionnal)</p>
        <p><input type="file" name="file"></p>
        <p>{{ form.submit }}</p>
    </form>
    </article>
{% endblock %}
