{% extends "base.html" %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% block title %}Yami-No-Kagami{% endblock %}
{% block content %}
{{ render_messages(container=True, dismissible=True) }}

    <article id="main" class="markdown-section">
        <h1>Edit Keywords (one per line)</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.keywords(style="width:100%; height: 350px") }}</p>
        <p>{{ form.submit }}</p>
    </form>
    </article>
{% endblock %}
