<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='generic.css') }}"
          integrity="{{get_sri('static', 'generic.css')}}"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='datatables.min.css') }}"
          integrity="{{get_sri('static', 'datatables.min.css')}}"
          crossorigin="anonymous">
    {% endblock %}

    <title>{% block title %}{% endblock%}</title>

    {% block card %}{% endblock %}

    {% endblock %}
  </head>
  <body class="ready sticky">
  <aside class="sidebar">
    <h1 class="app-name"><a class="app-name-link" data-nosearch="" href="/">🦕 RansomLook 🦖</a></h1>
    <div class="sidebar-nav">
          <ul><li {% if request.path == '/' %} class="active" {% endif %}><a href="{{ url_for('home') }}" title="Home">Home</a></li>
              <li {% if request.path == '/recent' %} class="active" {% endif %}><a href="{{ url_for('recent') }}" title="Recent posts">Recent posts</a></li>
              <li {% if request.path == '/status' or request.path == '/alive' %} class="active" {% endif %}><a href="{{ url_for('status') }}" title="Status">Status</a></li>
              {% if request.path == '/status' or request.path == '/alive' %}
                  <ul>
                      <li><a href=#groupsstatus>Groups Status</></li>
                      <li><a href=#marketsstatus>Markets Status</></li>
                      <li><a href={{ url_for('alive') }}>Alive</></li>
                  </ul>
              {% endif %}
              <li {% if request.path == '/groups' %} class="active" {% endif %}><a href="{{ url_for('groups') }}" title="Group profiles">Group profiles</a></li>
              {% if request.path == '/groups' %}{% block groups %}{% endblock %}{% endif %}
              <li {% if request.path == '/markets' %} class="active" {% endif %}><a href="{{ url_for('markets') }}" title="Forums &amp; Market">Forums &amp; Market</a></li>
              {% if request.path == '/markets' %}{% block markets %}{% endblock %}{% endif %}
              <li {% if request.path == '/' %} class="active" {% endif %}><a href="/" title="Stats &amp; graphs">Stats &amp; graphs</a></li></ul>
    </div>
  </aside>
    <section class="content">
      {% block content %}{% endblock%}
    </section>
    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    <script src='{{ url_for('static', filename='jquery.min.js') }}'
            integrity="{{get_sri('static', 'jquery.min.js')}}"
            crossorigin="anonymous"></script>
    <script src='{{ url_for('static', filename='datatables.min.js') }}'
            integrity="{{get_sri('static', 'datatables.min.js')}}"
            crossorigin="anonymous"></script>
    <script src='{{ url_for('static', filename='generic.js') }}'
            integrity="{{get_sri('static', 'generic.js')}}"
            crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>
