{% extends "base.html" %}

{% block title %}Cryptocurrencies{% endblock %}

{% block content %}
    <article id="main" class="markdown-section">
	<h1>Group profiles</h1>
        {% for entry in data %}
            <h2 id="{{entry.title}}"> {{ entry.title() }}<h2>
            <h3>Wallets</h2>
            <div class="table-responsive">
            <table id="table" class="table" style="display:table; table-layout:auto; width:100%">
            <thead>
                <tr>
                    <th style="width:25%"> Type </th>
                    <th style="width:75%"> Value </th>
                </tr>
            </thead>
            <tbody>
            {% for crypto in data[entry] %}
                <tr>
                <td> {{ crypto['blockchain'] }}  </td>
                <td> {{ crypto['address'] }}</td>
                </tr>
            {% endfor %}
           </tbody>
           </table>
           </div>
        {% endfor %}
    </article>
{% endblock %}
