{% extends "base.html" %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% block title %}🦕 RansomLook 🦖{% endblock %}
{% block content %}
{{ render_messages(container=True, dismissible=True) }}

    <article id="main" class="markdown-section">
    <form method="POST" action="" enctype="multipart/form-data" novalidate="">
        {{ form.hidden_tag() }}
        {% for nested in form.postslist %}
            {{ nested.label }}{{ nested }}
        {% endfor %}
        <p>{{ form.submit() }}</p>
    </form>

    </article>
{% endblock %}
