{% extends "base.html" %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% block title %}🦕 RansomLook 🦖{% endblock %}
{% block content %}
{{ render_messages(container=True, dismissible=True) }}

    <article id="main" class="markdown-section">
        <h1>Edit {{ form.groupname.label }}</h1>
    <form action="" method="post" enctype="multipart/form-data" novalidate="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.groupname }}<br>
            {% for error in form.groupname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>RaaS ? {{ form.raas() }}</p>
        <p>Galaxy name</p>
        <p> {{ form.galaxy }}</p>
        </p>Description</p>
        <p>{{ form.description(style="width:100%; height: 150px;") }}</p>
        </p>Profiles</p>
        <p>{{ form.profiles(style="width:100%; height: 150px;", size=5) }}</p>
        </p>Jabber (One per line)</p>
        <p>{{ form.jabber(style="width:100%; height: 75px;", size=5) }}</p>
        </p>Mail (One per line)</p>
        <p>{{ form.mail(style="width:100%; height: 75px;", size=5) }}</p>
        </p>Matrix (One per line)</p>
        <p>{{ form.matrix(style="width:100%; height: 75px;", size=5) }}</p>
        </p>Session (One per line)</p>
        <p>{{ form.session(style="width:100%; height: 75px;", size=5) }}</p>
        </p>Telegram (One per line)</p>
        <p>{{ form.telegram(style="width:100%; height: 75px;", size=5) }}</p>
        </p>Tox (One per line)</p>
        <p>{{ form.tox(style="width:100%; height: 75px;", size=5) }}</p>
        </p>Other (One per line)</p>
        <p>{{ form.other(style="width:100%; height: 75px;", size=5) }}</p>
        </p>Links</p>
        {% for nested in form.links %}
            {{ nested }}
        {% endfor %}
        </p>Captcha protected ? {{ form.captcha() }}</p>
        </p>Is a private group ? {{ form.private() }}</p>
        <p>{{ form.submit }}</p>
    </form>
    <form action"" method="post" novalidate>
        {{ deleteform.hidden_tag() }}
        <p>{{ deleteform.delete() }} {{ deleteform.delete.label }} {{ deleteform.submit() }}</p>
    </form>
    </article>
{% endblock %}
