{% extends "base.html" %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% block title %}🦕 RansomLook 🦖{% endblock %}
{% block content %}
{{ render_messages(container=True, dismissible=True) }}

    <article id="main" class="markdown-section">
        <h1>Manage Logo</h1>
    <form action="" method="post" enctype="multipart/form-data" novalidate="">
        {{ form.hidden_tag() }}
        <p>Current logos :<br>
        {% for nested in form.logos %}
            <img src="{{nested.link.data}}" width="150">
            {{ nested }}
        {% endfor %}
        </p>
        <p>{{ form.file }}</p>
        <p>{{ form.submit }}</p>
    </form>
    </article>
{% endblock %}
