{% extends "base.html" %}
{% block title %}{{group['name']}} details{% endblock %}
{% block content %}
    <article id="main" class="markdown-section">
	<h1>{{group['name'].title()}}</h1>
        <p>{% for item in logo %}
            <img src="{{item}}" style="max-height:150px;max-width:150px;height:auto;width:auto;" >
        {% endfor %}
        </p>
        {% if group['name'].lower() in parser %}
        <p><em>Parsing : <code>Enabled</code></em></p>
        {% endif %} 
        {% if 'raas' in group and group['raas'] is true %}
        <p><em>Known to be a RaaS</em></p>
        {% endif %}
        {% if 'captcha' in group and group['captcha'] is true %}
        <p><em>Known to use a Captcha to block crawling.</em></p>
        {% endif %}
        {% if group['meta'] is not none %}
        <h4>Description</h4>
        <p>{{group['meta']|safe}}</p>
        {% endif %}
        {% if group['profile'][0] %}
        <table id="table" class="table" style="display:table; table-layout:auto; width:100%">
          <thead>
            <tr>
                <th> External Analysis </th>
            </tr>
          </thead>
          <tbody>
          {% for profile in group['profile'] %}
          <tr><td>{{profile}}</td></tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}
        {% if 'jabber' in group and group['jabber'].split()[0] %}
        <table id="table" class="table" style="display:table; table-layout:auto; width:100%">
          <thead>
            <tr>
                <th> Jabber </th>
            </tr>
          </thead>
          <tbody>
          {% for jabber in group['jabber'].split() %}
          <tr><td>{{jabber}}</td></tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}
        {% if 'mail' in group and group['mail'].split()[0] %}
        <table id="table" class="table" style="display:table; table-layout:auto; width:100%">
          <thead>
            <tr>
                <th> Mail </th>
            </tr>
          </thead>
          <tbody>
          {% for mail in group['mail'].split() %}
          <tr><td>{{mail}}</td></tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}
        {% if 'matrix' in group and group['matrix'].split()[0] %}
        <table id="table" class="table" style="display:table; table-layout:auto; width:100%">
          <thead>
            <tr>
                <th> Matrix </th>
            </tr>
          </thead>
          <tbody>
          {% for matrix in group['matrix'].split() %}
          <tr><td>{{matrix}}</td></tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}
        {% if 'session' in group and group['session'].split()[0] %}
        <table id="table" class="table" style="display:table; table-layout:auto; width:100%">
          <thead>
            <tr>
                <th> Session </th>
            </tr>
          </thead>
          <tbody>
          {% for session in group['session'].split() %}
          <tr><td>{{session}}</td></tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}
        {% if 'telegram' in group and group['telegram'].split()[0] %}
        <table id="table" class="table" style="display:table; table-layout:auto; width:100%">
          <thead>
            <tr>
                <th> Telegram </th>
            </tr>
          </thead>
          <tbody>
          {% for telegram in group['telegram'].split() %}
          <tr><td>{{telegram}}</td></tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}
        {% if 'tox' in group and group['tox'].split()[0] %}
        <table id="table" class="table" style="display:table; table-layout:auto; width:100%">
          <thead>
            <tr>
                <th> Tox </th>
            </tr>
          </thead>
          <tbody>
          {% for tox in group['tox'].split() %}
          <tr><td>{{tox}}</td></tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}
        {% if 'other' in group and group['other'].split()[0] %}
        <table id="table" class="table" style="display:table; table-layout:auto; width:100%">
          <thead>
            <tr>
                <th> Other </th>
            </tr>
          </thead>
          <tbody>
          {% for other in group['other'].split() %}
          <tr><td>{{other}}</td></tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}
        <table id="table" class="table" style="display:table; table-layout:auto; width:100%">
          <thead>
            <tr>
                <th>Urls</th>
                <th style="width:10%" ><center>Screen</center></th>
            </tr>
          </thead>
          <tbody>
        {% for location in group['locations'] %}
          {% if current_user.is_authenticated or not 'private' in location or location['private'] is false %}
            {% if (not 'fs' in location or location['fs'] is false) and (not 'chat' in location or location['chat'] is false) %}
            {% if location['private'] is true %}
            <tr><td style="color: red;"> {{location['slug']}} </td>
            {% else %}
            <tr><td> {{location['slug']}} </td>
            {% endif %}
                {% if 'screen' in location %}
                <td><center><a href="{{ location['screen'] }}" rel="noopener noreferrer" target="_blank">Screen</a></center></td>
                {% else %}
                <td> </td>
                {% endif %}
            </tr>
            {% endif %}
          {% endif %}
        {% endfor %}
          </tbody>
        </table>

        <table id="table" class="table" style="display:table; table-layout:auto; width:100%">
          <thead>
            <tr>
                <th>File servers</th>
                <th style="width:10%" ><center>Screen</center></th>
            </tr>
          </thead>
          <tbody>
        {% for location in group['locations'] %}
          {% if current_user.is_authenticated or not 'private' in location or location['private'] is false %} 
            {% if 'fs' in location and location['fs'] is true %}
            {% if location['private'] is true %}
            <tr><td style="color: red;"> {{location['slug']}} </td>
            {% else %}
            <tr><td> {{location['slug']}} </td>
            {% endif %}
                {% if 'screen' in location %}
                <td><center><a href="{{ location['screen'] }}" rel="noopener noreferrer" target="_blank">Screen</a></center></td>
                {% else %}
                <td> </td>
                {% endif %}
            </tr>
            {% endif %}
          {% endif %}
        {% endfor %}
          </tbody>
        </table>

        <table id="table" class="table" style="display:table; table-layout:auto; width:100%">
          <thead>
            <tr>
                <th>Chat servers</th>
                <th style="width:10%" ><center>Screen</center></th>
            </tr>
          </thead>
          <tbody>
        {% for location in group['locations'] %}
          {% if current_user.is_authenticated or not 'private' in location or location['private'] is false %} 
            {% if 'chat' in location and location['chat'] is true %}
            {% if location['private'] is true %}
            <tr><td style="color: red;"> {{location['slug']}} </td>
            {% else %}
            <tr><td> {{location['slug']}} </td>
            {% endif %}
                {% if 'screen' in location %}
                <td><center><a href="{{ location['screen'] }}" rel="noopener noreferrer" target="_blank">Screen</a></center></td>
                {% else %}
                <td> </td>
                {% endif %}
            </tr>
            {% endif %}
           {% endif %}
        {% endfor %}
          </tbody>
        </table>

        {% if posts %}
        <center><img src="/stats/{{ group['name'] }}.png"></center>
        
        <h4>Posts</h4>
        <table id="table" class="table" style="display:table; table-layout:auto; width:100%">
          <thead>
            <tr>
                <th style="width:10%"> Date </th>
                <th style="width:25%"> Title </th>
                <th style="word-break:break-all width:55%"> Description </th>
                <th style="width:10%"> Screen </th>
            </tr>
          </thead>
          <tbody>
            {% for entry in posts %}
                <tr>
                    <td><center> {{entry['discovered'].split(' ')[0]}} </center></td>
                    <td> {{entry['post_title']}} </td>
                    {% if entry['description'] is not none %}
                    <td style="word-break:break-all"> {{entry['description']}} </td>
                    {% else %}
                    <td> </td>
                    {% endif %}
                    
                    {% if 'screen' in entry and entry['screen'] is not none %}
                    <td><center><a href="/{{ entry['screen']|quote_plus }}" rel="noopener noreferrer" target="_blank">Screen</a></center></td>
                    {% else %}
                    <td> </td>
                    {% endif %}

                </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
    </article>
{% endblock %}
