{% extends "base.html" %}

{% block title %}Leaks{% endblock %}

{% block content %}
    <article id="main" class="markdown-section">
	<h1>Leaks listing</h1>
           <div class="table-responsive">
           <table id="table" class="table" style="display:table; table-layout:auto; width:100%">
           <thead>
               <tr>
                   <th style="width:70%"> Page title </th>
                   <th style="width:20%"> Entries </th>
                   <th style="width:10%"> Detection </th>
               </tr>
           </thead>
           <tbody>
             {% for entry in data %}
                <tr>
                <td> <a href="/leak/{{entry['name']}}">{{ entry['name'].title() }}</a>  </td>
                <td><center> {{ entry['records'] }} </center></td>
                <td> {{ entry['indexed'] }} </td>
                </tr>
             {% endfor %}
           </tbody>
           </table>
           </div>

    </article>
{% endblock %}
