
{% extends "base.html" %}

{% block title %}Stats{% endblock %}

{% block content %}
    <article id="main" class="markdown-section">
	<center><h1>Stats for 7 days</h1>
                <img src='stats/bar_chart_7.png'>
                <img src='stats/pie_chart_7.png'>
                <img src='stats/scatter_plot_7.png'>
        </center>
	<center><h1>Stats for 14 days</h1>
                <img src='stats/bar_chart_14.png'>
                <img src='stats/pie_chart_14.png'>
                <img src='stats/scatter_plot_14.png'>
        </center>
	<center><h1>Stats for 30 days</h1>
                <img src='stats/bar_chart_30.png'>
                <img src='stats/pie_chart_30.png'>
                <img src='stats/scatter_plot_30.png'>
        </center>
	<center><h1>Stats for 90 days</h1>
                <img src='stats/bar_chart_90.png'>
                <img src='stats/pie_chart_90.png'>
                <img src='stats/scatter_plot_90.png'>
        </center>
    </article>
{% endblock %}
