{% extends "base.html" %}

{% block title %}Telegram list{% endblock %}

{% block content %}
    <article id="main" class="markdown-section">
	<h1>Telegram list</h1>
        {% for entry in data %}
            <h2 id="{{entry['name'].title()}}"> {{ entry['name'].title() }}<h2>
            <h4>Description</h4>
            {% if entry['meta'] is not none %}
            <p>{{ entry['meta'] }}</p>
            {% endif %}
            <h4>Links</h4>
            <p>{{ entry['link'] }}</p>
        {% endfor %}
    </article>
{% endblock %}
