{% extends "base.html" %}
{% block title %}{{name.name}} details{% endblock %}
{% block content %}
    <article id="main" class="markdown-section">
	<h1>{{name.displayname}} (@{{name.name}})</h1>
        <p>{{name.meta}}</p> 
        <p>Location : {{name.location}}</p>
        <p>Website : {{name.link}}</p>
        <p>Joined : {{name.joindate}}</p>      
        <p>Followers : {{name.followers}}</p>
        <p>Following : {{name.following}}</p>       
        <h3>Posts</h3>
        <table id="table" class="table table-dark table-striped-columns" style="display:table; table-layout:auto; width:100%">
          <thead>
            <tr>
                <th style="width:20%"> Date </th>
                <th style="width:10%"> Author </th>
                <th> Tweet </th>
                <th style="width:10%"> Media </th>
            </tr>
          </thead>
          <tbody>
            {% for entry in posts %}
                <tr>
                    <td><center> {{entry.split('+')[0].replace('T',' ')}} </center></td>
                    <td> {{posts[entry]['author']}} </td>
                    <td> {{posts[entry]['message']}} </td>
                    <td>
                    {% for img in posts[entry]['imgs'] %}
                        <a href="/screenshots/twitter/img/{{name.name}}-{{img}}.png" rel="noopener noreferrer" target="_blank"">Images</a>
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </article>
{% endblock %}
