{
    "email": {
        "smtp_server": "localhost",
        "smtp_port": 25,
        "from": "RansomLook <ransomlook@myorg.local>",
        "to": ["Team <team@myorg.local>"],
        "subject": "New Notification from RansomLook",
        "message_head": "Hello,\n\nPlease check the new entries in RansomLook:",
        "message_foot": "Best regards,\n\nRansomlook Team",
        "_nodes": {
            "smtp_server": "SMTP server to use to send notifications",
            "smtp_port": "SMTP port of the SMTP server",
            "from": "Email address for the notifications",
            "to": "Email address to receive the notification "
        }
    },
    "rocketchat": {
        "enable": false,
        "server": "localhost",
        "ssl_verify": false,
        "user_id": "",
        "auth_token": "",
        "channel_name": ""
    },
    "thread": 4
}
