name: pylint
on:
  push:
    paths:
      - '**.py'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10']
    name: Python ${{ matrix.python-version }} sample
    
    steps:
    - uses: actions/checkout@v2
    - name: setup python
      uses: actions/setup-python@v2
      with:
        python-version: ${{matrix.python-version}}
    - name: fetch dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
    - name: analyse
      run: |
        pylint ransomlook
